name: Build TierTagger

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - run: chmod +x gradlew
      - run: ./gradlew build

      - uses: actions/upload-artifact@v4
        with:
          name: TierTagger
          path: build/libs/*.jar
